.tab-info-container{
    width: 1200px;
    margin: 0 auto;

    .title{
        font-family: "VerveineRegular";
        font-size: 72px;
        color: #004C45;
    }

    .para-text{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }
}