@import "../../responsive.scss";

.videoPlayer {
  padding: 40px 0px 20px 0px;

  @include lg {
    padding: 80px 160px 80px 160px;
  }
  .videoPlayer__title {
    font-family: "VerveineRegular";
    font-size: 38px;
    color: #004c45;
    padding: 0px 10px;

    @include lg {
      font-size: 72px;
      padding: 0px 0px;
    }
  }

  .videoPlayer__text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 10px;

    @include lg {
      padding: 0px 0px;
    }
  }

  .videoPlayer__carousel {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #004c45;

      @include lg {
        flex-direction: row;
      }

      &__img {
        width: 100%;
        height: 100%;
        position: relative;

        @include lg {
          width: 75%;
        }

        &__playButton {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 50px;
          height: 50px;
          cursor: pointer;

          @include lg {
            width: 100px;
            height: 100px;
          }
        }
      }

      &__text {
        height: 100%;
        width: 100%;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: white;
        padding: 40px 10px;

        @apply space-y-4;

        @include lg {
          width: 25%;
          padding: 0px 30px;
        }
      }
    }

    //!============= Carousel Library Classes =============
    .carousel-dots li.carousel-dots-active button::before {
      color: #00bfb2;
    }

    .carousel-initialized {
      position: relative;
      //height: 100%;

      .carousel-prev {
        display: none;
      }

      .carousel-next {
        display: none;
        

        @include lg {
          
          display: inline-block;
          color: rgb(255, 255, 255) !important;
          background-color: #00bfb2;
          width: 50px;
          height: 50px;
          border-radius: 0%;
          position: absolute;
          top: 90%;
          //top: 0;
          //bottom: 0;
          right: 0;
        }

        &:before {
          margin: 0 auto; 
          color: white;
          background-image: url("../../assets//img/arrow_right.png");
        }
      }
    }
  }
}
