@import "../../responsive.scss";

.videoPlayer {
  padding: 80px 10px;

  @include lg {
    padding: 80px 160px;
  }
  .videoPlayer__title {
    font-family: "VerveineRegular";
    font-size: 38px;
    color: #004c45;

    @include lg {
      font-size: 72px;
    }
  }

  .videoPlayer__text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .videoPlayer__carousel {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #004c45;

      @include lg {
        flex-direction: row;
      }

      &__img {
        width: 100%;
        height: 100%;
        position: relative;

        @include lg {
          width: 75%;
        }

        &__playButton {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 50px;
          height: 50px;

          @include lg {
            width: 100px;
            height: 100px;
          }
        }
      }

      &__text {
        height: 100%;
        width: 100%;
        font-size: 16px;
        color: white;
        padding: 0px 20px;

        @include lg {
          width: 25%;
          padding: 0px 30px;
        }
      }
    }

    //!============= carousel library classes =============
    .carousel-prev {
      display: none;
    }

    .carousel-next {
      display: none;

      @include lg {
        display: flex;
        justify-content: center;
        color: rgb(255, 255, 255) !important;
        background-color: #00bfb2;
        width: 50px;
        height: 50px;
        border-radius: 0%;
        z-index: 10;
        position: absolute;
        top: 90%;
        // bottom: 0%;
      }

      &:before {
        color: white;
        background-image: url("../../assets//img/arrow_right.png");
      }
    }
  }
}
